

.inner {
    height: 100%;
    width: 100%;
}

.home_video {
    position: fixed;
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
}